{% extends 'base.html' %} 
{% block titulo %}Lista de anúncios{% endblock %} 
{% block conteudo %}
<div class="container px-5">
    <form action="/anuncio/" method="GET">
    <div class="d-flex justify-content-between align-items-center gap-3  mb-4">
        <div class="d-flex justify-content-between align-items-center gap-3  mb-4 flex-1">
            <h1>Anúncios</h1>
            <!-- <h6 class="text-info mt-2">({{veiculos|length}} disponíveis)</h6> -->
        </div>
        <div class="d-flex btn-group flex-0">
            <input class="form-control" name="pesquisa" type="text" placeholder="Pesquisar" />
            <input class="btn btn-info text-white fw-bolder" type="submit" value="Pesquisar" />
        </div>
    </div>
    </form>
    <div class="d-flex flex-column gap-4 overflow-auto">
        {% for a in anuncios %}
            <div class="card px-4 py-4 rounded d-flex flex-column gap-1">
                <div>
                    <h6 class="m-0">{{a.descricao}}</h5>
                    <h3 class="mb-2">R$ {{a.preco}}</h4>
                    <h6 class="mb-4">{{a.veiculo}}</h5>
                    <span class="badge bg-info text-white">{{a.data}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
