{% extends "base.html" %}

{% block titulo %} Cadastro de novos anuncios {% endblock %}

{% block conteudo %}

<form action="/anuncio/novo/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">

    <div class="row">
      <div class="col-3 d-flex flex-column">
        <label for="descricao" class="form-label">Descrição</label>
        {{ form.descricao }}
      </div>
      <div class="col-3 d-flex flex-column">
      <label for="preco" class="form-label">Preço</label>
        {{ form.preco }}
      </div>
      <div class="col-3 d-flex flex-column">
        <label for="veiculo" class="form-label">Veiculo</label>
        {{ form.veiculo }}
      </div>
      <div class="col-3 d-flex flex-column">
        <label for="usuario" class="form-label">Usuario</label>
        {{ form.usuario }}
      </div>
      <div>
        <input type="submit" value="Salvar" class="btn px-5 text-white btn-info mt-3 float-end" />
      </div>
    </div>
</form>

{% endblock %}