<html>
  <head>
    <title>Autenticação</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <meta charset="utf-8" />
  </head>
  <body class="bg-light">
    <div class="container d-flex flex-column my-5">
      <h1 class="text-info">Autenticação</h1>
      <div class="card rounded py-5">
        <form action="/" method="POST">
          {% csrf_token %}
          <div class="d-flex align-items-center gap-4 flex-column">
            <div class="form-floating">
                <input
                type="text"
                name="usuario"
                id="usuario"
                value="{{ usuario }}"
                class="form-control"
              />
              <label for="usuario">Nome de usuário</label>
            </div>
            <div class="form-floating">
              <input
                type="password"
                name="senha"
                id="senha"
                value="{{ senha }}"
                class="form-control"
              />
              <label for="senha">Senha</label>
            </div>
            <button type="submit" class="btn btn-info px-5 text-white fw-bold">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
    {% if mensagem %}
    <div class="alert alert-danger" role="alert">{{ mensagem }}</div>
    {% endif %}
  </body>
</html>
